<!-- views/product.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Product Information</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <!-- Include the navbar partial from the "partials" folder -->
  <%- include('partials/navbar') %>

  <h1>Product: <%= productId %></h1>
  <p>Information: <%= info %></p>
  
  
</body>
</html>
